{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.credit_card_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_payment.template.credit_card_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    <div class="padding">
    	<div class="row">
    		<div class="col-sm-6">
                {% include '@VSPayment/Pages/CreditCard/Partial/StripeJsV2Form.html.twig' with {
                     'formAction': '',
                     'formMethod': 'POST'
                } %}
    		</div>
    	</div>
    </div>
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    
    {% include '@VSPayment/Pages/CreditCard/Partial/credit_card_css.html.twig' %}
{% endblock %}
