<form method="POST" action="{{ formAction }}">
    <p>{{ packagePlan.description }}</p>
    <input type="hidden" name="packagePlanId" value="{{ packagePlan.id }}" />
    <input type="submit" value="Subscribe" />
</form>
