<div class="row RuleContainer">

    <div class="col-lg-3 mb-3">
        {{ form_widget(form.type, {'attr': {'class': 'form-control RuleType'}}) }}
    </div>
    
    <div class="col-lg-3 mb-3 RuleConfigurationContainer" data-form-collection-index="1"></div>
    
    <div class="col-lg-1">
        <a href="javascript:;" class="btn btn-success btnAddField"><i class="icon_plus_alt2"></i></a>
        <a href="javascript:;" class="btn btn-danger btnRemoveField"><i class="icon_close_alt2"></i></a>
    </div>
    
</div>
    
