<div class="row">

    {% if item.id and form.vars.value %}
        {% set photoId = form.vars.value.code %}
        {% set originalName = item.pictures[photoId].originalName %}
        {% set photoWidgetClass = 'form-control fieldPhoto persistedPhoto' %}
    {% else %}
        {% set photoId = '' %}
        {% set originalName = 'Choose File' %}
        {% set photoWidgetClass = 'form-control fieldPhoto' %}
    {% endif %}
    
    <div class="col-lg-3 form-field-file  mb-3">
        {{ form_widget(form.code, {'attr': {
                'class': 'form-control',
            }
        }) }}
    </div>
    
    <div class="col-lg-7 form-field-file  mb-3">
        {{ form_widget(form.picture, {'attr': {
                'class': photoWidgetClass,
                'placeholder': originalName
            }
        }) }}
        <label class="input-group-text" for="product_form_pictures_{{ photoId }}_picture">{{ originalName }}</label>
    </div>
    
    <div class="col-lg-1">
        <a href="javascript:;" class="btn btn-success btnAddField"><i class="icon_plus_alt2"></i></a>
        <a href="javascript:;" class="btn btn-danger btnRemoveField"><i class="icon_close_alt2"></i></a>
    </div>
</div>
    
