{# Please send layout when render this template #}
{% extends siteLayout %}

{% block title %}{{ parent() }}{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Show Product: {{ item.name }}{% endblock %}

{% block content %}
    <h1>UNIMPLEMENTED !!!</h1>
{% endblock %}
