{#
 #  From Payum: https://github.com/Payum/Stripe/blob/master/Resources/views/Action/obtain_js_token.html.twig
 #}
<form action="" method="POST" id="payment-form">
    <span class="payment-errors"></span>

    <input type="text" data-stripe="number" id="StripePaymentForm_Number" />
    <input type="text" data-stripe="cvc" id="StripePaymentForm_Cvc" />
    <input type="text" data-stripe="exp-month" id="StripePaymentForm_ExpMonth" />
    <input type="text" data-stripe="exp-year" id="StripePaymentForm_ExpYear" />
    
    <button type="submit">Submit Payment</button>
</form>
