{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: Payment Done{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> Payment Done{% endblock %}

{% block content %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                {{ dump( paymentStatus ) }}
            </div>
        </div>
    </div>
{% endblock content %}
